{{page-title "Timeslot"}}

{{!-- The following component displays Ember's default welcome message. --}}
{{!-- <WelcomePage /> --}}
{{!-- Feel free to remove this! --}}
<div class='text-center p-4 m-4'>TimeSlot</div>

{{!-- <LinkTo @route="slot"> Let's go</LinkTo> --}}

<SlotSelector />

{{outlet}}